@media (max-width: 1200px){

    .cabecalho {
        padding: 6%;
    }

    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-link {
        gap: 1px;
    }

    .apresentacao-links {
        flex-direction: column;
        align-items: center;
        padding: 1px;
    }

    .apresentacao-conteudo {
        width: 100%;
    }

    .apresentacao-conteudo-texto {
        text-align:center;
    }
}